@import '../../../styles/variables.scss';

.logoWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    color: $white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 35px;

    .logo {
        width: 50px;
        margin-bottom: 4px;
    }
}
