// media queries

$small: "only screen and (max-width: 768px)";
$medium: "only screen and (max-width: 991px)";
$large: "only screen and (max-width: 1200px)";

// colors

$black: #000;
$gray: #f0f3f6;
$grayF6: #f6f7f9;
$gray8F: #8f9ca9;
$gray8A: #8a98a5;
$grayF9: #f9fafc;
$white: #fff;
$darkBlue: #0a3a5e;
$green: #58a801;
$red: #c62928;
$yellow: #f3b42f;
